body {
    background-color: #2d7b9d;
}

header {
    display: flex;
    justify-content: center;
    color: #c8c8c8;
}

.container {
    width: 400px;
    border: solid 1px red;
    margin: auto;
    padding: 5px;
}

.screen {
    background-color: #a7d2e4;
    height: 5em;
    width:auto;
    margin: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    font-size: 28px;
    width: 2.6em;
    aspect-ratio: 1/1;
}

.button.btype2 {
    width: 2.6em;
    aspect-ratio: 1/2;
}

.button.btype3 {
    width: 5.2em;
    aspect-ratio: 2/1;
}


.functions2 {
    display: flex;
    flex-direction: column;
}