body {
    background-color: #37718c;
}

header {
    display: flex;
    justify-content: center;
    color: #c8c8c8;
}

.container {
    width: max-content;
    border: solid 1px red;
    margin: auto;
    padding: 5px;
}

.screen {
    background-color: #a7d2e4;
    height: 5em;
    width:auto;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
    flex-direction: column;
}

.button {
    font-size: 28px;
    width: 64px;
    aspect-ratio: 1/1;
    margin-bottom: 5px;
}

.button.btype2 {
    width: 64px;
    height: 132px;
}

.button.btype3 {
    width: 132px;
    height: 64px;
}

.row4 {
    display: flex;
}

.leftR4 {
    margin-right: 4px;
}

